/*
    Write your style definitions here.
    By default, webpack expects to find SugarSS ("Indent-based CSS syntax for PostCSS.")
    @see https://github.com/postcss/sugarss
*/

.msg_div
  border-width: 1px
  border-color: #e1e0e0
  border-style: solid
  border-radius: 15px
  padding: 10px

.msg
  color: #afafaf
